body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 20px;

    text-align: center;

    cursor: url("llama.png") 16 16, auto;


}

.content {
    max-width: 800px;
    margin: auto;
    padding: 20px;

    background-color: rgba(0, 0, 0, 0.92);
    color: white;

    border-radius: 10px;
}


.content ul,
.content ol {
    text-align: left;
    margin-left: 40px;
}

.content ul ul {
    margin-left: 20px;
}


.content a {
    color: #00ffff;
    text-decoration: none;
    font-weight: bold;
}

.content a:hover {
    color: #ffcc00;
    text-decoration: underline;
}
.author {
    font-size: 1.2em;
    font-style: italic;
    color: rgb(255, 0, 0);
    margin-bottom: 20px;
}
